In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import os
import csv

from google.colab import drive
drive.mount('/content/drive')

#os.lis`enter code here`tdir(file_path)
def myfunction(data):
  print(data)
file_path = "/content/drive/MyDrive/BrixSpectra"

b = []

df = pd.read_csv("/content/drive/MyDrive/BrixSpectra/NZRedp3.csv")
column_name = list(df.columns)
column_name.append("file_name")


for file in os.listdir(file_path):
  if file.endswith(".csv"):
    file2 = file_path + "/" + str(file)
    df1 = pd.read_csv(file2)
    reading = []
    for col in df1.columns:
      a = df1[col].mean()
      reading.append(a)
    reading.append(str(file)[:-4])
  b.append(reading)

with open('students.csv', 'w', newline='') as file:
     writer = csv.writer(file)
     writer.writerow(column_name)
     for i in b:
       writer.writerow(i)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df3 = pd.read_csv("students.csv")
df3

,410 nm,435 nm,460 nm,485 nm,510 nm,535 nm,560 nm,585 nm,610 nm,645 nm,680 nm,705 nm,730 nm,760 nm,810 nm,860 nm,900 nm,940 nm,file_name
0,2717.466154,956.668462,1926.724615,579.996923,976.415385,1632.929231,197.940769,326.194615,4609.105385,394.927692,1634.323846,136.281538,470.977692,328.100769,1318.303846,2514.466923,841.920000,327.230769,YellowApplp2
1,458.138000,152.981333,234.204000,93.522667,120.145333,145.412667,36.988667,49.028667,840.229333,70.385333,818.736000,62.762667,324.962000,214.416000,1035.970000,2220.525333,396.336667,152.203333,NZRedp2
2,953.168421,214.602632,305.863158,111.856316,161.476316,265.942632,37.127895,50.341579,413.186316,95.977368,442.755789,78.361579,232.509474,144.793158,612.807895,1253.367368,365.528421,153.065789,App2_7722
3,798.732778,343.097778,686.890000,250.050000,404.189444,628.051667,114.807778,186.064444,2862.578333,234.939444,895.929444,97.627778,322.668333,225.765556,913.299444,1686.588333,400.935556,163.603333,Apple2p3
4,2622.231053,874.413158,1716.985263,615.893158,1250.464737,2203.960000,317.375789,399.838421,3667.028421,281.317368,1000.206842,116.580526,357.264211,267.284211,1111.773158,1971.788421,410.941579,171.926842,Apple2p1
5,639.467500,238.280000,406.734500,156.557500,217.118500,342.596000,54.344000,113.505000,2144.309000,226.760500,954.402500,98.779500,298.139500,202.767500,787.257500,1503.882000,378.765000,157.645500,Apple1p2
6,953.676667,274.622083,439.748333,121.188750,186.718333,328.407083,40.514167,72.307917,1598.035833,144.195833,633.138333,92.307500,318.371667,204.415417,760.423333,1594.475417,362.993333,147.908750,Apple4p1
7,1108.886667,352.882222,562.690556,193.076667,269.800000,429.211667,120.222222,224.002222,2840.165000,276.971111,897.652222,110.677222,277.695000,193.751111,747.405000,1322.938333,339.702222,143.693333,Apple1p1
8,1661.567059,510.787647,1058.827647,413.073529,1159.337647,2584.198235,439.052353,416.048235,2369.099412,161.195882,565.477647,134.532353,468.855294,290.030000,877.064118,1560.548824,375.966471,167.730000,GreenApP2_7722
9,2869.723571,1051.551429,2176.048571,795.558571,1385.790714,2379.784286,354.866429,504.100000,7174.546429,413.475714,1658.866429,132.498571,518.975714,367.232143,1429.270000,2326.897857,837.402143,332.963571,YellowApplp1
10,2441.702857,862.547857,1818.967143,399.600714,676.127857,1158.783571,69.385000,94.760000,785.962143,166.192857,762.907857,111.843571,307.647857,190.648571,746.255000,1738.556429,696.552143,291.470714,RedApplep1
11,1519.714783,381.831739,400.717826,125.210000,171.753478,251.577391,56.978696,96.079130,1569.613913,187.502174,723.367826,109.370870,285.413478,193.613043,746.129565,1599.733913,354.706522,148.684348,Apple4p2
12,1614.903684,628.327368,1241.089474,329.827895,464.439474,752.942632,106.587895,200.628421,3416.875789,328.933684,1450.023684,124.596316,406.598947,286.886316,1190.467895,2352.833158,755.402105,296.345789,Applep2_27
13,717.551875,294.705000,445.882500,181.390625,288.517500,429.035625,96.458125,151.021250,2640.085000,219.102500,1160.141875,96.470625,334.365625,237.702500,991.693125,1977.141875,403.086875,162.618750,BigYRp2
14,1109.683333,389.327333,648.892667,231.631333,343.095333,493.887333,106.072667,194.065333,3087.430667,259.704667,973.830667,130.826667,395.925333,262.388000,963.927333,1785.092000,437.400667,180.526000,USARedp1
15,1539.357857,600.956429,1192.162143,292.818571,424.867143,719.332857,90.890000,164.147857,2170.032143,272.370714,1056.193571,115.990000,367.501429,252.449286,1107.592857,2266.385000,731.507143,288.857857,Applep3_27
16,632.970000,215.694091,252.742273,79.980000,116.580909,175.171818,33.436364,44.180455,623.092273,76.383636,515.756818,70.315455,279.461818,184.475455,857.738636,1841.239091,361.562273,144.058636,Apple4p3
17,560.641579,146.957368,208.411579,87.528947,121.298947,175.101053,29.745263,37.488421,328.071053,48.974211,462.100000,55.681579,239.317368,156.772105,740.164211,1592.354737,383.213684,152.102632,RedApp3p1
18,609.056364,181.555455,242.379545,90.016818,123.660000,187.019091,50.379545,87.569091,1203.135455,154.052273,535.514545,97.478636,282.417727,181.721818,685.524545,1383.016818,362.270909,146.465909,App1p3_8722
19,615.308696,180.310435,179.309565,72.459565,98.001739,135.151304,32.512174,48.886087,704.599130,106.244783,526.642174,79.160870,292.595652,178.620000,761.186087,1550.352174,397.641739,163.092174,App1p1_8722
20,908.976364,237.779091,263.860909,93.515909,134.854545,234.785000,40.741818,69.186364,796.968182,123.445909,502.192273,89.392727,263.390455,168.171818,681.104545,1391.065909,359.210455,143.400909,App1p4_8722
21,452.709333,218.924000,519.174667,182.159333,328.311333,550.272667,63.166667,109.550000,2896.627333,209.988667,894.380000,93.376667,341.856000,230.916667,971.544667,1791.068000,418.698000,162.608000,RGalaRY2
22,718.820000,209.390000,296.984500,95.578000,141.704000,230.200500,40.846500,58.659500,972.299000,151.541000,830.270000,98.931500,276.200000,176.253500,715.609500,1495.355500,393.729000,157.549500,Apple3p1
23,1322.958500,451.445500,833.451500,335.867500,891.185000,2138.439000,386.930500,333.180000,2765.861500,123.159500,597.127000,118.743000,528.404500,323.387000,997.802000,1764.159000,407.163000,164.679000,GreenNp2
24,2686.612778,902.397222,1803.657222,451.718889,733.321111,1169.582222,66.632222,113.568889,2882.949444,230.340000,1507.547222,120.272222,477.648889,296.821111,1130.180000,2399.495000,849.149444,342.028333,RedApplep3
25,926.166250,286.237500,463.708125,163.452500,230.641250,340.745000,78.646875,112.715625,1976.003750,157.511875,882.734375,100.265625,335.440625,212.750000,858.315000,1767.055625,445.559375,173.999375,NZRedp1
26,717.543500,218.196500,330.353000,108.365000,159.425500,264.376500,37.241000,54.630000,943.967000,161.986000,800.527500,96.047000,254.897500,170.659000,700.810500,1431.571500,363.303500,147.146000,Apple3p3
27,467.602778,165.985000,286.345556,104.857222,145.171111,204.421111,38.703333,54.103333,836.781667,112.382778,864.993889,85.938889,313.948889,203.498889,912.256667,1880.377222,422.930000,164.782222,NZRedp3
28,998.250000,340.112917,696.082500,263.872083,763.304583,2011.185833,309.208333,276.342917,1647.604583,99.632917,430.006667,106.432083,560.590417,315.021667,785.656250,1457.787917,393.334583,170.947917,GreenApP1_7722
29,539.985000,166.792778,266.192222,107.989444,148.497222,209.923333,35.159444,56.975000,1043.806111,108.986667,598.545000,74.148333,308.051667,191.324444,788.060556,1650.455000,441.112778,176.555000,App1p2_8722
30,2444.126000,857.048000,1853.264000,430.598667,739.739333,1197.672667,66.806000,100.252000,1151.722667,177.418667,864.202667,114.718000,337.370667,199.499333,793.112000,1766.727333,794.335333,319.627333,RedApplep2
31,505.346000,190.534667,309.709333,136.379333,184.691333,244.882667,53.818667,96.584000,2143.142000,237.290667,984.914000,104.312667,314.497333,209.258667,840.194667,1584.610667,435.904000,176.544667,Apple2p2
32,980.177778,297.929444,497.463333,204.399444,615.639444,1687.306111,297.388333,249.847222,1744.892222,85.958333,400.198333,99.052222,540.895556,312.998333,841.227222,1571.748333,399.031111,159.748333,GreenNp1
33,1078.258182,412.649091,750.593636,210.520909,292.516364,452.201818,65.413636,109.986364,1839.289091,225.061818,925.540000,111.222727,332.430909,212.548182,879.063636,1842.331818,742.847273,288.822727,Applep4_27
34,2038.287647,569.200000,719.694118,226.892353,385.362941,695.739412,164.518824,297.444118,3096.482353,336.396471,942.855294,124.818824,274.638824,198.341176,801.354118,1405.129412,351.506471,150.221765,Apple1p3
35,565.700000,158.597333,198.635333,74.033333,101.374667,153.840667,35.822000,47.711333,606.053333,80.400000,407.396667,71.384000,307.669333,193.266667,847.300667,1812.639333,451.737333,179.046667,USARedp2
36,798.160870,218.478261,269.766522,94.150870,128.856957,210.102174,39.950000,57.680435,904.896087,158.733478,815.807391,97.863043,280.863478,179.885652,736.525217,1520.837826,388.100870,157.061304,Apple3p2
37,558.369167,173.847500,278.447917,95.668750,128.186667,241.124583,48.065833,86.684583,1146.694583,199.942917,623.457083,117.255000,280.872083,170.060000,636.606250,1245.811250,370.994167,155.252917,App2p3_7722
38,1642.670625,591.468750,1138.674375,220.115625,316.663125,496.474375,63.271875,83.939375,843.103125,128.538125,873.033125,96.942500,338.150000,219.311875,988.228750,2226.855000,762.185000,300.795000,Applep1_27
39,1074.606875,282.003750,380.753125,115.003125,170.416875,272.824375,49.628750,74.380000,960.201250,167.656250,633.868750,102.503125,237.330000,155.516250,605.154375,1266.124375,333.068750,137.752500,RedApp3p2
40,1406.624500,635.190500,1339.044000,422.418000,892.028500,1810.174500,137.380000,209.951500,3698.560500,265.315500,1182.237000,109.636500,368.628500,252.349500,921.805500,1696.438500,416.983500,166.701500,RGalaRY3
41,2054.541538,712.994615,985.798462,473.873846,760.593846,1175.078462,502.456154,625.659231,4856.763077,448.641538,1272.408462,144.805385,341.547692,256.539231,987.761538,1666.274615,436.259231,187.995385,BigYRp1
42,468.462000,150.981000,208.607000,84.582000,103.264000,122.581000,33.659000,52.888000,977.931000,108.574000,607.092000,81.853000,328.823000,208.441000,874.765000,1822.586000,430.667000,169.737000,USARedp3
43,1236.175000,280.133889,380.699444,101.382222,145.427778,371.258889,54.698889,92.495000,1524.902778,182.112222,662.917222,110.823889,281.306667,174.677222,660.073889,1267.431667,352.723889,147.439444,App2p2_7722
44,1281.566000,581.473500,1214.018000,431.090500,912.704500,1984.561500,248.285500,337.908500,5013.102500,305.621000,1223.597500,115.671500,383.392500,277.217500,1056.525500,1774.324000,439.831500,175.950000,RGalaRY1
45,1245.134444,404.553333,672.171667,300.269444,502.305000,797.426111,107.447222,170.729444,3557.726111,248.580000,1263.744444,114.826111,365.486111,259.826111,1003.047222,1891.246111,460.542778,184.098889,BigYRp3

In [ ]:
def myfunction(data):
  print(data)
file_path = "/content/drive/MyDrive/AppleSfiles"

b = []

df = pd.read_csv("/content/drive/MyDrive/AppleSfiles/IgetApple2_p2rt.csv",skiprows=[1])
column_name = list(df.columns)
column_name.append("file_name")


for file in os.listdir(file_path):
  if file.endswith(".csv"):
    file2 = file_path + "/" + str(file)
    df1 = pd.read_csv(file2,skiprows=[1],index_col=False)
    reading = []
    for col in df1.columns:
      a = np.nanmean(df1[col])
      reading.append(a)
    reading.append(str(file)[:-4])
  b.append(reading)

with open('students2.csv', 'w', newline='') as file:
     writer = csv.writer(file)
     writer.writerow(column_name)
     for i in b:
       writer.writerow(i)

In [ ]:
df4= pd.read_csv("students2.csv")
df4

,410 nm,435 nm,460 nm,485 nm,510 nm,535 nm,560 nm,585 nm,610 nm,645 nm,680 nm,705 nm,730 nm,760 nm,810 nm,860 nm,900 nm,940 nm,file_name
0,676.608421,168.404211,348.614737,68.422105,146.051053,531.995789,42.870000,53.132105,610.585789,91.422105,382.666842,86.218947,252.848421,146.165263,495.642105,939.463684,296.720526,110.173158,IgetApple1_p1rt
1,656.019474,160.404737,555.131579,110.870000,298.440000,613.002105,37.020000,48.260000,414.334737,98.630000,274.926316,82.930000,230.466842,125.680000,424.804737,828.944211,342.293158,128.120000,IgetApple1_p2rt
2,1303.259474,211.753684,325.685263,78.071053,148.190000,459.234211,42.534737,58.751053,359.648947,129.773684,326.216842,90.860000,217.520000,132.370000,485.183158,936.474211,318.079474,122.036842,IgetApple1_p3rt
3,526.226316,147.110000,330.107368,123.998947,232.865263,424.068947,42.818421,77.134211,869.569474,148.150000,361.845789,95.525263,226.766316,126.602105,422.602632,774.800526,339.770000,126.190000,IgetApple1_p4rt
4,1074.893684,305.582105,720.207895,218.302105,403.146842,724.028421,103.946842,185.998421,2841.318421,260.817368,688.167895,124.358421,267.250526,171.494737,541.566316,846.204211,322.806316,128.372632,IgetApple2_p1rt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,646.355263,186.790000,718.071579,129.640000,337.124211,580.240000,66.740000,74.976842,746.887895,132.948947,477.226316,93.520526,197.774211,119.550000,376.954737,654.101579,294.979474,111.740000,WTkag_3001_p4
262,905.856842,270.331579,1115.557368,190.725789,432.703158,869.700526,94.433684,133.498947,1600.060526,157.831053,465.790000,98.820000,222.440526,139.510000,404.827895,631.774737,303.021579,119.805789,NWTkag_3001_p1
263,633.373684,163.206316,449.858947,128.937368,251.040000,482.047368,64.790000,80.590000,655.291053,98.630000,302.495789,59.190000,144.033158,100.950000,361.685789,666.064211,280.606316,111.740000,NWTkag_3001_p2
264,537.574737,176.150000,484.590000,122.490000,223.540000,422.153158,87.818947,135.736316,1259.830526,173.531053,416.083684,93.067368,181.324211,116.561053,394.231053,652.198947,276.636842,109.820000,NWTkag_3001_p3
265,446.438421,165.193684,486.052632,127.860000,242.196842,453.763158,82.149474,108.734737,1170.533684,140.876316,421.567368,77.130000,186.558421,123.096316,415.469474,694.312105,274.897368,110.780000,NWTkag_3001_p4

In [ ]:
dffinal = pd.concat(map(pd.read_csv, ['students.csv', 'students2.csv']),ignore_index=True)
dffinal

,410 nm,435 nm,460 nm,485 nm,510 nm,535 nm,560 nm,585 nm,610 nm,645 nm,680 nm,705 nm,730 nm,760 nm,810 nm,860 nm,900 nm,940 nm,file_name
0,2717.466154,956.668462,1926.724615,579.996923,976.415385,1632.929231,197.940769,326.194615,4609.105385,394.927692,1634.323846,136.281538,470.977692,328.100769,1318.303846,2514.466923,841.920000,327.230769,YellowApplp2
1,458.138000,152.981333,234.204000,93.522667,120.145333,145.412667,36.988667,49.028667,840.229333,70.385333,818.736000,62.762667,324.962000,214.416000,1035.970000,2220.525333,396.336667,152.203333,NZRedp2
2,953.168421,214.602632,305.863158,111.856316,161.476316,265.942632,37.127895,50.341579,413.186316,95.977368,442.755789,78.361579,232.509474,144.793158,612.807895,1253.367368,365.528421,153.065789,App2_7722
3,798.732778,343.097778,686.890000,250.050000,404.189444,628.051667,114.807778,186.064444,2862.578333,234.939444,895.929444,97.627778,322.668333,225.765556,913.299444,1686.588333,400.935556,163.603333,Apple2p3
4,2622.231053,874.413158,1716.985263,615.893158,1250.464737,2203.960000,317.375789,399.838421,3667.028421,281.317368,1000.206842,116.580526,357.264211,267.284211,1111.773158,1971.788421,410.941579,171.926842,Apple2p1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,646.355263,186.790000,718.071579,129.640000,337.124211,580.240000,66.740000,74.976842,746.887895,132.948947,477.226316,93.520526,197.774211,119.550000,376.954737,654.101579,294.979474,111.740000,WTkag_3001_p4
308,905.856842,270.331579,1115.557368,190.725789,432.703158,869.700526,94.433684,133.498947,1600.060526,157.831053,465.790000,98.820000,222.440526,139.510000,404.827895,631.774737,303.021579,119.805789,NWTkag_3001_p1
309,633.373684,163.206316,449.858947,128.937368,251.040000,482.047368,64.790000,80.590000,655.291053,98.630000,302.495789,59.190000,144.033158,100.950000,361.685789,666.064211,280.606316,111.740000,NWTkag_3001_p2
310,537.574737,176.150000,484.590000,122.490000,223.540000,422.153158,87.818947,135.736316,1259.830526,173.531053,416.083684,93.067368,181.324211,116.561053,394.231053,652.198947,276.636842,109.820000,NWTkag_3001_p3
311,446.438421,165.193684,486.052632,127.860000,242.196842,453.763158,82.149474,108.734737,1170.533684,140.876316,421.567368,77.130000,186.558421,123.096316,415.469474,694.312105,274.897368,110.780000,NWTkag_3001_p4

In [ ]:
b1 = []
df6 = pd.read_csv("/content/drive/MyDrive/WhiteD1.csv")
for i in df6.columns:
  a1 = df6[i].mean()
  b1.append(a1)

In [ ]:
b1

[10520.600400000001,
 6071.2976,
 8504.2672,
 3792.4179999999997,
 3713.5780000000004,
 4351.244,
 829.4496,
 800.3844,
 5811.1708,
 481.2528,
 1304.4764000000002,
 159.9488,
 413.008,
 313.5472,
 1307.9188000000001,
 2181.7252000000003,
 642.4584,
 310.8792]

In [ ]:
import math
n = 0
for i in df.columns:
  for j in range(0,312):
    dffinal.loc[j,i] = -math.log(dffinal[i][j]/b1[n])
  n += 1

In [ ]:
ref = pd.read_excel("/content/drive/MyDrive/BrixVal (1).xlsx")
ref

               File Brix value
0        Applep1_27       13.5
1        Applep2_27       12.9
2        Applep3_27       12.8
3        Applep4_27       12.9
4        RedApplep1       14.7
..              ...        ...
311   WTkag_3001_p4       18.2
312  NWTkag_3001_p1       13.7
313  NWTkag_3001_p2       14.5
314  NWTkag_3001_p3       14.4
315  NWTkag_3001_p4       15.3

[316 rows x 2 columns]

In [ ]:
for i in range(0,312):
  for j in range(0,316):
    if dffinal['file_name'][i] == ref['File'][j]:
      dffinal.loc[i,'new'] = ref['Brix value'][j]

In [ ]:
dffinal

,410 nm,435 nm,460 nm,485 nm,510 nm,535 nm,560 nm,585 nm,610 nm,645 nm,680 nm,705 nm,730 nm,760 nm,810 nm,860 nm,900 nm,940 nm,file_name,new
0,1.353635,1.847871,1.484747,1.877736,1.335863,0.980086,1.432795,0.897598,0.231748,0.197690,-0.225427,0.160131,-0.131344,-0.045371,-0.007909,-0.141945,-0.270383,-0.051261,YellowApplp2,11.6
1,3.133920,3.681012,3.592131,3.702555,3.431049,3.398641,3.110151,2.792687,1.933862,1.922408,0.465795,0.935493,0.239759,0.380032,0.233099,-0.017628,0.483038,0.714187,NZRedp2,13.0
2,2.401299,3.342540,3.325186,3.523544,3.135393,2.794936,3.106394,2.766261,2.643639,1.612280,1.080539,0.713520,0.574536,0.772644,0.758141,0.554282,0.563958,0.708537,App2_7722,11.8
3,2.578064,2.873312,2.516149,2.719098,2.217867,1.935595,1.977503,1.458999,0.708059,0.717065,0.375695,0.493692,0.246842,0.328453,0.359129,0.257408,0.471501,0.641960,Apple2p3,10.7
4,1.389310,1.937775,1.599998,1.817686,1.088481,0.680206,0.960676,0.694032,0.460400,0.536909,0.265595,0.316272,0.144991,0.159637,0.162481,0.101175,0.446851,0.592335,Apple2p1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,2.789741,3.481343,2.471754,3.375998,2.399300,2.014775,2.519958,2.367913,2.051622,1.286428,1.005566,0.536673,0.736341,0.964215,1.244067,1.204609,0.778396,1.023230,WTkag_3001_p4,18.2
308,2.452209,3.111678,2.031214,2.989922,2.149699,1.610068,2.172865,1.790999,1.289741,1.114868,1.029822,0.481554,0.618807,0.809814,1.172730,1.239338,0.751498,0.953532,NWTkag_3001_p1,13.7
309,2.810030,3.616312,2.939389,3.381432,2.694139,2.200175,2.549611,2.295718,2.182458,1.585017,1.461490,0.994101,1.053423,1.133325,1.285417,1.186485,0.828349,1.023230,NWTkag_3001_p2,14.5
310,2.974023,3.539992,2.865020,3.432730,2.810161,2.332849,2.245485,1.774378,1.528805,1.020036,1.142671,0.541530,0.823180,0.989535,1.199255,1.207522,0.842596,1.040562,NWTkag_3001_p3,14.4
311,3.159789,3.604209,2.862006,3.389823,2.730000,2.260642,2.312222,1.996181,1.602322,1.228510,1.129577,0.729361,0.794723,0.934983,1.146783,1.144950,0.848904,1.031858,NWTkag_3001_p4,15.3

In [ ]:
dffinal.isnull().sum(axis = 0)

410 nm       0
435 nm       0
460 nm       0
485 nm       0
510 nm       0
535 nm       0
560 nm       0
585 nm       0
610 nm       0
645 nm       0
680 nm       0
705 nm       0
730 nm       0
760 nm       0
810 nm       0
860 nm       0
900 nm       0
940 nm       0
file_name    0
new          2
dtype: int64

In [ ]:
for i in range(0,312):
  if pd.isna(dffinal['new'][i]) :
    print(dffinal['file_name'][i])

IndApple2_p3
Kashmir1_2301_p1

In [ ]:
dffinal.to_csv('file_name.csv', index=False)

In [ ]:
df12 = dffinal.dropna(axis=0, subset=['new'])
df12 = df12[(df12.new != '*' )]
df12 = df12[(df12.new != '-' )]
df12

,410 nm,435 nm,460 nm,485 nm,510 nm,535 nm,560 nm,585 nm,610 nm,645 nm,680 nm,705 nm,730 nm,760 nm,810 nm,860 nm,900 nm,940 nm,file_name,new
0,1.353635,1.847871,1.484747,1.877736,1.335863,0.980086,1.432795,0.897598,0.231748,0.197690,-0.225427,0.160131,-0.131344,-0.045371,-0.007909,-0.141945,-0.270383,-0.051261,YellowApplp2,11.6
1,3.133920,3.681012,3.592131,3.702555,3.431049,3.398641,3.110151,2.792687,1.933862,1.922408,0.465795,0.935493,0.239759,0.380032,0.233099,-0.017628,0.483038,0.714187,NZRedp2,13.0
2,2.401299,3.342540,3.325186,3.523544,3.135393,2.794936,3.106394,2.766261,2.643639,1.612280,1.080539,0.713520,0.574536,0.772644,0.758141,0.554282,0.563958,0.708537,App2_7722,11.8
3,2.578064,2.873312,2.516149,2.719098,2.217867,1.935595,1.977503,1.458999,0.708059,0.717065,0.375695,0.493692,0.246842,0.328453,0.359129,0.257408,0.471501,0.641960,Apple2p3,10.7
4,1.389310,1.937775,1.599998,1.817686,1.088481,0.680206,0.960676,0.694032,0.460400,0.536909,0.265595,0.316272,0.144991,0.159637,0.162481,0.101175,0.446851,0.592335,Apple2p1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,2.789741,3.481343,2.471754,3.375998,2.399300,2.014775,2.519958,2.367913,2.051622,1.286428,1.005566,0.536673,0.736341,0.964215,1.244067,1.204609,0.778396,1.023230,WTkag_3001_p4,18.2
308,2.452209,3.111678,2.031214,2.989922,2.149699,1.610068,2.172865,1.790999,1.289741,1.114868,1.029822,0.481554,0.618807,0.809814,1.172730,1.239338,0.751498,0.953532,NWTkag_3001_p1,13.7
309,2.810030,3.616312,2.939389,3.381432,2.694139,2.200175,2.549611,2.295718,2.182458,1.585017,1.461490,0.994101,1.053423,1.133325,1.285417,1.186485,0.828349,1.023230,NWTkag_3001_p2,14.5
310,2.974023,3.539992,2.865020,3.432730,2.810161,2.332849,2.245485,1.774378,1.528805,1.020036,1.142671,0.541530,0.823180,0.989535,1.199255,1.207522,0.842596,1.040562,NWTkag_3001_p3,14.4
311,3.159789,3.604209,2.862006,3.389823,2.730000,2.260642,2.312222,1.996181,1.602322,1.228510,1.129577,0.729361,0.794723,0.934983,1.146783,1.144950,0.848904,1.031858,NWTkag_3001_p4,15.3

In [ ]:
y = df12['new']
x = df12.drop(['file_name','new'], axis=1)
x

,410 nm,435 nm,460 nm,485 nm,510 nm,535 nm,560 nm,585 nm,610 nm,645 nm,680 nm,705 nm,730 nm,760 nm,810 nm,860 nm,900 nm,940 nm
0,1.353635,1.847871,1.484747,1.877736,1.335863,0.980086,1.432795,0.897598,0.231748,0.197690,-0.225427,0.160131,-0.131344,-0.045371,-0.007909,-0.141945,-0.270383,-0.051261
1,3.133920,3.681012,3.592131,3.702555,3.431049,3.398641,3.110151,2.792687,1.933862,1.922408,0.465795,0.935493,0.239759,0.380032,0.233099,-0.017628,0.483038,0.714187
2,2.401299,3.342540,3.325186,3.523544,3.135393,2.794936,3.106394,2.766261,2.643639,1.612280,1.080539,0.713520,0.574536,0.772644,0.758141,0.554282,0.563958,0.708537
3,2.578064,2.873312,2.516149,2.719098,2.217867,1.935595,1.977503,1.458999,0.708059,0.717065,0.375695,0.493692,0.246842,0.328453,0.359129,0.257408,0.471501,0.641960
4,1.389310,1.937775,1.599998,1.817686,1.088481,0.680206,0.960676,0.694032,0.460400,0.536909,0.265595,0.316272,0.144991,0.159637,0.162481,0.101175,0.446851,0.592335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,2.789741,3.481343,2.471754,3.375998,2.399300,2.014775,2.519958,2.367913,2.051622,1.286428,1.005566,0.536673,0.736341,0.964215,1.244067,1.204609,0.778396,1.023230
308,2.452209,3.111678,2.031214,2.989922,2.149699,1.610068,2.172865,1.790999,1.289741,1.114868,1.029822,0.481554,0.618807,0.809814,1.172730,1.239338,0.751498,0.953532
309,2.810030,3.616312,2.939389,3.381432,2.694139,2.200175,2.549611,2.295718,2.182458,1.585017,1.461490,0.994101,1.053423,1.133325,1.285417,1.186485,0.828349,1.023230
310,2.974023,3.539992,2.865020,3.432730,2.810161,2.332849,2.245485,1.774378,1.528805,1.020036,1.142671,0.541530,0.823180,0.989535,1.199255,1.207522,0.842596,1.040562
311,3.159789,3.604209,2.862006,3.389823,2.730000,2.260642,2.312222,1.996181,1.602322,1.228510,1.129577,0.729361,0.794723,0.934983,1.146783,1.144950,0.848904,1.031858

In [ ]:
#Splitting the data into train and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1, random_state=0)

In [ ]:
#Applying Ols model
import pandas as pd
import numpy as np
import statsmodels.api as sm
#adding constant term
x_train = sm.add_constant(x_train)
#FFitting model
model = sm.OLS(y_train.astype(float), x_train.astype(float)).fit()
summary =model.summary()
print(summary)

                            OLS Regression Results
==============================================================================
Dep. Variable:                    new   R-squared:                       0.418
Model:                            OLS   Adj. R-squared:                  0.377
Method:                 Least Squares   F-statistic:                     10.30
Date:                Mon, 27 Feb 2023   Prob (F-statistic):           1.18e-21
Time:                        08:59:17   Log-Likelihood:                -528.49
No. Observations:                 277   AIC:                             1095.
Df Residuals:                     258   BIC:                             1164.
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          9.8456      1.384      7.113      0.000       7.120      12.572
410 nm        -1.0923      0.598     -1.827      0.069      -2.270       0.085
435 nm         3.3410      1.327      2.517      0.012       0.727       5.955
460 nm        -0.9899      0.660     -1.500      0.135      -2.290       0.310
485 nm        -3.2629      1.089     -2.997      0.003      -5.407      -1.119
510 nm         0.8724      1.210      0.721      0.472      -1.511       3.256
535 nm        -0.8160      0.782     -1.044      0.297      -2.355       0.723
560 nm         1.8965      1.045      1.814      0.071      -0.162       3.955
585 nm         0.2000      1.260      0.159      0.874      -2.282       2.682
610 nm         0.3783      0.872      0.434      0.665      -1.339       2.096
645 nm         1.7249      1.388      1.243      0.215      -1.009       4.458
680 nm        -2.7771      0.831     -3.341      0.001      -4.414      -1.140
705 nm        -4.5766      2.053     -2.229      0.027      -8.619      -0.534
730 nm        -3.5998      4.283     -0.840      0.401     -12.034       4.835
760 nm         6.2468      5.962      1.048      0.296      -5.494      17.987
810 nm         0.7175      3.847      0.187      0.852      -6.857       8.292
860 nm        -1.1885      2.698     -0.441      0.660      -6.500       4.124
900 nm        -9.1310      4.029     -2.266      0.024     -17.065      -1.197
940 nm        10.0326      4.064      2.469      0.014       2.030      18.035
==============================================================================
Omnibus:                       24.408   Durbin-Watson:                   2.124
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               49.940
Skew:                           0.457   Prob(JB):                     1.43e-11
Kurtosis:                       4.868   Cond. No.                         591.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
from sklearn.linear_model import LinearRegression
lin = LinearRegression()

lin.fit(x, y)

LinearRegression()

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree = 4)
X_poly = poly.fit_transform(x)

poly.fit(X_poly, y)
lin2 = LinearRegression()
lin2.fit(X_poly, y)

LinearRegression()

In [ ]:
y_pred = lin2.fit(x_train, y_train).predict(x_test)
print(lin2.score(x_train, y_train))

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- const

  warnings.warn(message, FutureWarning)

ValueError: ignored

In [ ]:
x_test = sm.add_constant(x_test)
y_pred = model.predict(x_test.astype(float))

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
#Estimating Pearson R coefficient
from scipy.stats import pearsonr
corr, _ = pearsonr(y_test, y_pred)
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: 0.541

In [ ]:
pip install pyserial

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyserial in /usr/local/lib/python3.8/dist-packages (3.5)

In [ ]:
import serial

In [ ]:
import serial.tools.list_ports
print(list(serial.tools.list_ports.comports()))

[]

In [ ]:
ser = serial.Serial(port='COM5', baudrate=115200)

print("connected to: " + ser.portstr)
count=0

while count < 20:
    for line in ser.readline():

        print(str(count) + str(': ') + chr(line) )
        count = count+1
        with open('students3.csv', 'w', newline='') as file:
          writer = csv.writer(file)
          writer.writerow(line)
        count = count+1

ser.close()

SerialException: ignored